# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for storing build files
dist/

# dotenv environment variables file
.env

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Thumbnails
Thumbs.db
